/* *{
  margin :0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
  font-family: 'Jost', sans-serif;
  list-style:none;

} */

#trust>:nth-child(1){
  margin-top: 10px;
} 
 #trust>:nth-child(2){
  margin-top: -5px;

} 
 #trust{
  margin-left:5px;
}

#menu-child{
 background: red; 
  display: flex;
  margin:auto;
  width:100%;
  color:black;
  border:5px solid black;
}
.links{
display:flex;
justify-content:space-between;
width: 60%;
align-items: center;
/* margin: auto; */
}

.links a{
  color:black;
  text-decoration:none;
}

.links a:hover{
  color:red

}
.menu-bar{
  width:100%;

  display:flex;
  justify-content: space-between;
  margin:auto;

  padding:0px 100px; 

 } 

.announcement{
  width: 100%;
  background: #f94b4b;; 
  text-align: center;
  border:1px solid red;

}

.header{
  width: 100%; 

  font-size: 12px;
  color: #fff;
  font-weight: 600;
  padding: 5px; 
  /* text-decoration: underline;} */
}

body{
  width: 1200px;
}



.hide{display:none;}

  #button{
  background: #fa6075;
   font-family: inherit;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
    /* font-size: 12px; */
    border-radius: 2px;
    padding: 11px 15px;
    font-weight: 600;
    border: 1px solid #fa6075;
   color: white;
}

#button a:hover{
  background: white
}


.banner-image {
  position: absolute;
  width: 100%;
  height: 50%;
  background-size: cover;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: bottom;
}


#body-main{
  display:flex;
}

#body-main>div>h1{
  color: #fa6075;
}
.banner-btn{
  border-radius: 2px;
    padding: 11px 15px;
    font-weight: 600;
    font-family: inherit;
    text-align: center;
    white-space: nowrap;
    cursor: pointer;
    outline: none;
}

section{
  padding: 5% 10%;
}
/* .main-home{
  width:100%;
  height:100vh;
  background-image:url("https://o1-static-pages.s3.ap-south-1.amazonaws.com/shop101-home/images/banner/background-mobile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  /* overflow: hidden; */

  /* background-size: cover; */
  /* background-position: absolute; */
  /* background-position:center; */
  /* background-size:cover; */
  /* display:grid; */
  /* grid-templete-colums:repeat(1,fr); */
  /* align-items:center; */
 
/* } */ */




/* changes done-------> */






/* changes done-------> */


.menubar{
display:flex;
justify-content:space-evenly;
width: 100%;
margin: auto;

}

.menubar>a{
  text-decoration: none;
color: black;
}


/* @media (min-width: 992px) */
.section-heading {
  font-size: 24px;
}

.primary-color {
  color: #fa6075;
}
.text-center {
  text-align: center;
}

.section-heading {
  font-size: 18px;
  line-height: 1.33;
  font-weight: 700;
  text-transform: uppercase;
}
.section-margin {
  padding-top: 41px;
}


 ::after, ::before {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
 }
 
 box {
  padding: 10px;
}
.box>div {
  padding: 2px;
  margin: 5px;
}
.box>div>h3{
  text-align: center;
  color: #fa6075
}




.why-shop101 {
  color: #fff;
  background-size: cover;
   padding-bottom: 35px;
   /* padding-bottom: 55px; */ 
}

.why-shop101>div {
  display: block;
  font-family: Open Sans,sans-serif;
  line-height: 1.15;
    -webkit-text-size-adjust: 100%;
    box-sizing: inherit;
}



.secondary-container{
    max-width: 70%;
    margin: 0 auto;

}

.secondary-container>div {
  display: block;
}


.partners {
  border: 1px solid black;
  display: grid;
  grid-template-columns: repeat(5,1fr) 
}